@{
    ViewBag.Title = "Requisição";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="app">
    <div ng-controller="requisicaoController">
        <div class="row" ng-hide="isvisible">
            <div class="col-md-2 left">
                <ul class="nav navbar">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-bars fa-fw"></i>  <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Funcionário", "Funcionario", "Requisicao")</li>
                            <li>@Html.ActionLink("Férias", "Ferias", "Requisicao")</li>
                            <li>@Html.ActionLink("Rescisão", "Rescisao", "Requisicao")</li>
                            <li class="divider"></li>
                            <li><a href="#">Outras Requisições</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 right">
                <input type="search" class="form-control" placeholder="Pesquisar..." ng-model="search" />
            </div>
        </div>
        <div class="row">
            <div class="gridStyle col-lg-12" ng-grid="gridRequisicao" ng-hide="isvisible"></div>
        </div>
        <div ng-show="isvisible">
            @Html.Partial("Edicao")
        </div>
    </div>
</div>

@Scripts.Render("~/scripts/app/controller/requisicao.controller.js")
