@{
    ViewBag.Title = "Rescisão";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="rescisaoApp">
    <div ng-controller="rescisaoController">
        <form ng-submit="add()" name="form">
            @Html.Partial("RequisicaoTemplate")
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Colaborador</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="funcionario.nome" readonly required />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="open()">Selecionar</button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Data do Aviso</label>
                    <div class="input-group">
                        <input type="text" class="form-control date" datepicker-popup="dd/MM/yyyy" ng-model="rescisao.data_afastamento" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Tipo do Aviso</label>
                    <select class="form-control" ng-options="aviso.descricao for aviso in avisos" ng-model="aviso" ng-change="setAviso()"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="control-label">Tipo de Afastamento</label>
                    <select class="form-control" ng-options="afastamento.descricao for afastamento in afastamentos" ng-model="afastamento" ng-change="setAfastamento()"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="control-label">Observação</label>
                    <textarea class="form-control" ng-model="ferias.observacao"></textarea>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Salvar</button>
            <button class="btn btn-default" type="reset">Limpar</button>
        </form>
        @Html.Partial("FuncionarioModal")
    </div>
</div>
<script>
    jQuery.noConflict();
    jQuery(document).ready(function ($) {
        $('.date').mask('99/99/9999');
    });
</script>

@Scripts.Render("~/scripts/app/controller/rescisao.controller.js")
@Scripts.Render("~/scripts/app/factory/funcionario.factory.js")
@Scripts.Render("~/scripts/app/factory/requisicao.factory.js")
@Scripts.Render("~/scripts/app/factory/assunto.factory.js")
@Scripts.Render("~/scripts/app/funcoes.js")

