<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sismont Processos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/angular-ui")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryplugin")
    @Scripts.Render("~/scripts/ng-grid.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tema")
    @Scripts.Render("~/scripts/app/factory/api.factory.js")
    
</head>
<body>
    <header class="header">
        <button data-target=".sidebar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"><i class="fa fa-bars"></i></button>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="header-logo"><img src="~/img/logo.svg"></div>

                <div class="header-company">
                    <strong>@Request.RequestContext.HttpContext.Session["cnpj"]</strong><br>@Request.RequestContext.HttpContext.Session["empresa"]<br>@DateTime.Today.ToString("dd/MM/yyyy")
                </div>
            </div>
                @Html.Partial("_TopMenu")
        </div>
    </header>

    <section class="page-wrapper">

        <nav class="navbar-default page-nav" role="navigation">
            <div class="sidebar-collapse">
                <div class="sidebar-search">
                    <input type="text" id="input-search" class="form-control" placeholder="Pesquisar...">
                </div>
                @Html.Partial("_Menu")
            </div>
        </nav>

        <div class="page-content">
            @RenderBody()
        </div>
    </section>
   
    <div id="sessaoDialog" title="Sua sessão está prestes a expirar!">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
            Você será desconectado em <span id="dialog-countdown" style="font-weight:bold"></span> segundos.
        </p>
        <p>Deseja continuar logado?</p>
    </div>

    <script type="text/javascript">
        jQuery("#sessaoDialog").dialog({
        autoOpen: false,
        modal: true,
        width: 400,
        height: 200,
        closeOnEscape: false,
        draggable: false,
        resizable: false,
        buttons: {
            'Sim': function () {
                jQuery(this).dialog('close');
            },
            'Não': function () {
                jQuery.idleTimeout.options.onTimeout.call(this);
            }
        }
    });

    var $countdown = $("#dialog-countdown");
    jQuery.idleTimeout('#sessaoDialog', 'div.ui-dialog-buttonpane button:first', {
        idleAfter: 5,
        pollingInterval: 2880,
        keepAliveURL: window.location.href,
        serverResponseEquals: 'OK',
        onTimeout: function () {
            var url = "/login/SignOut";
            $.post(url, function (data) {
                window.location.href = "/";
            })
        },
        onIdle: function () {
            jQuery(this).dialog("open");
        },
        onCountdown: function (counter) {
            $countdown.html(counter); 
        }
        });

    </script>

@RenderSection("scripts", required: false)
</body>
</html>
